[report]
precision=2
show_missing=true
exclude_lines =
    pragma: no cover

    # don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

omit =
    */env/*
    */migrations/*
    */__init__.py
    */middleware.py
    */admin.py
    manage.py
    project/settings/*.py
