<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Supporting Artists</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
  <div id="main">
    <h1>Supporting Artists</h1>
    {% block main %}
    {% endblock main %}
  </div>
  <footer class="footer">
    <div id="credits">
      <p>Made by Pedro Curado
        <a class="icon-brands linkedin"
           href="https://www.linkedin.com/in/pedrocurado/"
           target="_blank"></a>
        <a class="icon-brands github"
           href="https://github.com/p3dr0migue1"
           target="_blank"></a>
      </p>
    </div>
  </footer>
</body>
</html>
